@use '../util' as *;

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  display: block;
}

a,
a:visited,
a:active,
a:hover {
  color: var(--font-body);
  text-decoration: underline;
  cursor: pointer;
}

a[aria-current="true"] {
  font-weight: 500;
  text-decoration: underline;
}

body {
  font-family: var(--font-body);
  color: var(--black);
  line-height: 1.4;
  background-color: var(--white);
  margin: 0;
  padding: 0;
}

.breadcrumbs {
  margin: rem(16) 0 rem(40);
}

.breadcrumb {
  font-family: var(--font-header);
  font-size: rem(14);
  font-weight: 500;
  color: var(--lightGrey);

  &__current {
    font-weight: 700;
  }
}

.visually-hidden {
  position: absolute;
  left:     -10000px;
  top:      auto;
  width:    1px;
  height:   1px;
  overflow: hidden;

  &:focus {
    left: 0;
    width: auto;
    height: auto;
    background-color: #fff;
    padding: 0.5rem;
    border: 1px solid;
  }
}

hr {
  color: var(--darkGreen);
  background-color: var(--darkGreen);
  height: rem(2);
  margin-bottom: rem(60);
}
