:root {
  --darkGreen: hsl(167, 97%, 15%);// rgb(1, 77, 60), #014D3C
  --nwcGreen: hsl(166, 100%, 20%); // rgb(0,102,79), #00664f
  --lightGreen: hsl(109, 61%, 43%); // rgb(67, 176, 42), #43b02a
  --northernBlue: hsl(208, 100%, 33.5%); // rgb(0, 92, 171), #005cab
  --lightBlue: hsl(214, 58%, 55%); // rgb(0, 114, 206), #0072ce
  --orange: hsl(31, 100%, 50%); // rgb(255, 130, 0), #ff8200
  --red: hsl(347, 100%, 45.3%); // rgb(231, 0, 51), #e70033
  --yellow: hsl(49, 100%, 50%); // rgb(255, 209, 0), #ffd100

  --darkBlue: hsl(197, 97%, 15%); // rgb(1, 56, 77), #01384D
  --darkBlue75: rgba(1, 56, 77, 0.75);

  --white: hsl(240, 100%, 99%); // rgb(248, 248, 255), #f8f8ff
  --black: hsl(40, 8%, 15%); // rgb(40, 38, 34), #282622
  --black65: rgba(40, 38, 34, 0.65);
  --lightGrey: hsl(210, 1%, 61%) ;// rgb(154, 155,156), #9a9b9c;
}