:root {
  --darkGreen: hsl(167, 97%, 15%);// rgb(1, 77, 60), #014D3C
  --darkBackground: hsl(217, 54%, 16%);// rgb(19, 36, 64), #132440
  --nwcGreen: hsl(166, 100%, 20%); // rgb(0,102,79), #00664f
  --lightGreen: hsl(109, 61%, 43%); // rgb(67, 176, 42), #43b02a
  --northernBlue: hsl(208, 100%, 33.5%); // rgb(0, 92, 171), #005cab
  --lightBlue: hsl(214, 58%, 55%); // rgb(0, 114, 206), #0072ce
  --orange: hsl(31, 100%, 50%); // rgb(255, 130, 0), #ff8200
  --red: hsl(347, 100%, 45.3%); // rgb(231, 0, 51), #e70033
  --yellow: hsl(49, 100%, 50%); // rgb(255, 209, 0), #ffd100

  --darkBlue: hsl(197, 97%, 15%); // rgb(1, 56, 77), #01384D
  --darkBlue75: rgba(1, 56, 77, 0.75);

  --white: hsl(240, 100%, 99%); // rgb(248, 248, 255), #f8f8ff
  --black: hsl(40, 8%, 15%); // rgb(40, 38, 34), #282622
  --black65: rgba(40, 38, 34, 0.65);
  --lightGrey: hsl(210, 1%, 61%) ;// rgb(154, 155,156), #9a9b9c;

  --zone1: hsl(197, 100%, 47%); // rgb(0, 173, 240), #00adf0
  --zone2: hsl(358, 85%, 52%); // rgb(237, 28, 36), #ed1c24
  --zone3: hsl(129, 53%, 46%); // rgb(56, 181, 74), #38b54a
  --zone4: hsl(297, 47%, 37%); // rgb(135, 51, 140), #87338c
  --zone5: hsl(335, 84%, 55%); // rgb(237, 41, 122), #ed297a
  --zone6: hsl(33, 93%, 54%); // rgb(247, 148, 28), #f7941c
  --zone7: hsl(226, 68%, 30%); // rgb(25, 50, 130), #193282
  --zone8: hsl(345, 6%, 13%); // rgb(35, 31, 32), #231f20
}