@use '../util' as *;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header);
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: rem(20);
}

h1 {
  font-size: rem(40);
  font-size: clamp(rem(36), 0.98rem + 3.35vw, rem(56));
}

h2 {
  font-size: 1.875rem;
  font-size: clamp(1.875rem, 1.6875rem + 0.78vw, 2.625rem);
  font-weight: 500;
}

h3  {
  font-size: 1.25rem;
  font-size: clamp(1.25rem, 1.1875rem + 0.26vw, 1.5rem);
  font-weight: 500;
  margin-bottom: 0;
}

p {
  font-size: rem(16);
  font-weight: 500;
  margin-top: 0;
  line-height: rem(24);
}