@use '../util' as *;

.pages {

  &__heading,
  &__subhead {
    color: var(--darkGreen);
    font-family: var(--font-header);
    font-weight: 500;
  }

  &__content {
    margin-right: auto;
    margin-left: auto;
    max-width: rem(660);
  }
}

.content {

  &__logo {

    &--city {
      margin-bottom: rem(40);
    }
  }

  &__photo {
    margin-bottom: rem(60);

    &--halfWidth {
      align-items: center;
      display: flex;
      flex-direction: row;
      gap: rem(10);
      justify-content: space-between;
      margin-bottom: rem(10);

      @include breakpoint-down(small) {
        flex-direction: column;
      }
    }

    &--fullWidth {
      margin-bottom: 2.5rem;
      margin-top: .625rem;
    }
  }

  &__photos {
    overflow: hidden;
  }
}

.intro {
  margin-top: rem(40);
  margin-bottom: rem(60);
  text-align: center;

  h1 {
    color: var(--darkGreen);
    margin-bottom: rem(40);
  }

  @include breakpoint (small) {
    
    h1 {
      font-size: rem(30);
      line-height: rem(36);
      margin-bottom: rem(30);
    }
  }
}

// CONFERENCE TRACK STYLES
.conf_tracks {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-bottom: rem(40);
  gap: rem(16);

  @include breakpoint-down(small) {
    flex-direction: column;
    gap: rem(24);
  }
}

.conference,
.pharmacy,
.trade-show {
  transition: filter .25s ease-in-out;
  filter: grayscale(0%);
  margin-bottom: rem(10);
}

.conference:hover,
.pharmacy:hover,
.trade-show:hover {
  filter: grayscale(100%);
}

a.track_link {
  font-family: var(--font-header);
  font-size: rem(24);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--darkGreen);
}

a.track_link:hover {
  color: var(--northernBlue);
}

// CONCERT STYLES
.concert-index {
  display: flex;
  flex-direction: row;
  gap: rem(16);
  margin-bottom: rem(60);

  @include breakpoint-down(small) {
    flex-direction: column;
  }
}

.doyle-index {
  max-width: rem(490);
}

.concert-series {
  width: 100%;
}

.index-info {
  background-color: var(--darkGreen);
  max-width: rem(700);
  width: 100%;
  padding: rem(20);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: rem(20);

  @include breakpoint-down(small) {
    padding: rem(20) 0 rem(40);
  }
}

.concert-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  justify-content: space-between;
  max-width: 43.75rem;
  padding: 1.25rem;
  width: 100%;
}

.concert-name {
  padding: 0 rem(10);
}

.concert-support {
  margin-bottom: rem(10);
}

.concert {

  &__bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin-bottom: rem(60);

    @include breakpoint-down(small) {
      flex-direction: column;
      padding: rem(40) rem(10);
    }
  }
}

.bandKnot {
  margin-bottom: rem(40);
}

